<nav class="navbar bg-warning navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <a [routerLink]="['home']"><img width="50%" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2020/04/game-1913657.jpg"
          class="img-fluid"></a>

      </div>
      <div class="col">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['valorados']">Mejores Valorados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['novedades']">Novedades</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['categoria']">Categoría</a>
            </li>
          </ul>



        </div>


      </div>
      <div class="col-2">
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Menú
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Carrito</button>
            <button class="dropdown-item" type="button">Lista de deseos</button>
            <button class="dropdown-item" type="button">Login</button>
          </div>
        </div>
      </div>



    </div>
  </div>

</nav>


<router-outlet></router-outlet>
