<div class="container">
  <div class="row">
    <div class="col">
      <h1>Perfil</h1>
      <h2>Información del usuario:</h2>
    </div>
  </div>
  <div class="row" *ngIf="!this.editar">
    <div class="col">

        <div class="container border border-primary">
          <div class="row">
            <div class="col">Nombre:</div>
            <div class="col  "> {{_backdata.usuario.nombre}}</div>
          </div>
          <div class="row">
            <div class="col">Apellidos:</div>
            <div class="col  "> {{_backdata.usuario.apellidos}}</div>
          </div>
          <div class="row">
            <div class="col">Email:</div>
            <div class="col  "> {{_backdata.usuario.email}}</div>
          </div>
          <div class="row">
            <div class="col">Dirección:</div>
            <div class="col  "> {{_backdata.usuario.direccion}}</div>
          </div>
        </div>
        <button (click)="botonEditar()">Editar Perfil</button>

    </div>
  </div>
  <div class="row" *ngIf="this.editar">
    <form (ngSubmit)="this.editarUsuario()">
      <div class="form-group">
        <label for="exampleInputName">Nombre</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
          placeholder="Nombre" [value]="this.usuarioeditado.nombre" [(ngModel)]="this.usuarioeditado.nombre" name="nombre">

        <label for="exampleInputSurname">Apellidos</label>
        <input type="text" class="form-control" id="exampleInputSurname" aria-describedby="emailHelp"
          placeholder="Apellidos"  [(ngModel)]="this.usuarioeditado.apellidos" name="apellidos">

        <label for="exampleInputdireccion">Dirección</label>
        <textarea class="form-control" id="exampleInputdireccion" aria-describedby="emailHelp"
          placeholder="Calle Luz 29, Dos Hermanas, 41700, Sevilla" [(ngModel)]="this.usuarioeditado.direccion"
          name="direccion"></textarea>

        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="example@example.com" [(ngModel)]="usuarioeditado.email" name="email">

        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          [(ngModel)]="usuarioeditado.password" name="password">
        <script>


        </script>
        <button type="submit" #logear>Guardar cambios</button>


      </div>
    </form>
  </div>
</div>
